p.whitespace {
    white - space: pre
}

.boxed {
    background - color:  # acd7e5 ;
    padding: 10px
    border: 1px solid black
}

.headerbackground{padding:2rem 1rem;margin-bottom:2rem;background-color:#D6EAF8;border-radius:.3rem}@media (min-width:576px){.headerbackground{padding:4rem 2rem}}.headerbackground-fluid{padding-right:0;padding-left:0;border-radius:0}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/*responsive layout*/
@media screen and (max-width: 800px) {
  .column {   
    width: 100%;
    padding: 0;
  }
}

